*{
    margin: 0;
    padding: 0;
}
/* Elements
----------------------------- */
body{
    height: 100vh;
    background:
        linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
        ), 
        url('/img/Mirabeau.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

main{
    height: 100%;
}

header{
    width: 80%;
    height: 20px;
    background: orange;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 40px;
    color: white;
}
input[type='radio'],
input[type='checkbox']{
    position: absolute;
    width: 1px;
    height: 1px;
}
svg{
    width: 25px;
    cursor: pointer;
}
svg path{
    stroke: black;
    stroke-width: 5px;
    fill: transparent;
}
/* Pure styling classes
----------------------------- */
.centering{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Styling specifik elements
----------------------------- */
/* Room elements styling */
#rooms{
    width: 80%;
    max-width: 1000px;
    display: flex;
    position: relative;
    height: 75vh;
    border: rgba(255,255,255,.9) solid 3px;
}
#rooms-wrapper{
    margin: 20px;
    margin-right: 0;
    margin-left: 17px;
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.room{
    width: 180px;
    height: 220px;
    background: rgba(0,0,0,.45);
    border-radius: 20px;
    border: solid 2px white; 
    position: relative;
    color: white;
    margin: 20px;
}
.room h2{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center; 
    border-radius: 20px 20px 0 0;
    padding: 5px 0;
}
.room h2.false{
    background: rgba(12, 165, 45,.8);
}
.room h2.true{
    background: rgba(236, 34, 50,.8);
}
/* All the navigations */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 5px 0;
    width: 100%;
    background: rgba(255,255,255,.9);
    border-radius: 0 0 16px 16px;
}

nav label{
    width: 20%;
    cursor: pointer;
    transition: .25s;
}
nav#navigation{
    top:-50px;
    left: -3px;
    height: 20px;
    border-radius: 16px 16px 0 0;
    width: 40%;
    padding: 15px 10px;
}
nav#navigation label{
    opacity: .2;
}
nav img{
    width: 50%;
    opacity: .2;
}
nav img:first-of-type{
    opacity: 1;
}

.currentInfo-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
.currentInfo-container div{
    opacity: 0;
    grid-row-start: 1;
    grid-column-start: 1;
    transition: .25s;
}

#rooms #temperature:checked ~* .temperature,
#rooms #soundLevel:checked ~* .soundLevel,
#rooms #ambientLight:checked ~* .ambientLight,
#rooms #co2:checked ~* .co2,
#rooms #humidity:checked ~* .humidity{
    opacity: 1;
}
