*{
    margin: 0;
    padding: 0;
}
/* Elements
----------------------------- */
body{
    height: 100vh;
    background:
        linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
        ), 
        url('/img/Mirabeau.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

main{
    height: 100%;
}

header{
    width: 80%;
    height: 20px;
    background: orange;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 50px;
    color: white;
}
input[type='radio']{
    position: absolute;
    width: 1px;
    height: 1px;
}
/* Pure styling classes
----------------------------- */
.centering{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Styling specifik elements
----------------------------- */
#rooms{
    width: 80%;
    max-width: 1000px;
    display: flex;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 80vh;
}
#rooms-wrapper{
    margin: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.room{
    width: 200px;
    height: 300px;
    background: rgba(0,0,0,.45);
    border-radius: 20px;
    border: solid 2px white; 
    position: relative;
    color: white;
    margin: 20px;
}
.room h2{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center; 
    border-radius: 20px 20px 0 0;
    padding: 5px 0;
}
.room h2.false{
    background: rgba(12, 165, 45,.8);
}
.room h2.true{
    background: rgba(236, 34, 50,.8);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    background: rgba(255,255,255,.9);
    border-radius: 0 0 16px 16px;
}
nav label{
    width: 20%;
    opacity: .2;
    cursor: pointer;
    transition: .25s;
}
nav img{
    width: 50%;
    opacity: .2;
}
nav img:first-of-type{
    opacity: 1;
}

.currentInfo-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
.currentInfo-container div{
    opacity: 0;
    grid-row-start: 1;
    grid-column-start: 1;
    transition: .25s;
}


/* Bullshit styles... iets met id en input types
------------------ */

.room #temperature1:checked ~* .temperature,
.room #soundLevel1:checked ~* .soundLevel,
.room #ambientLight1:checked ~* .ambientLight,
.room #co21:checked ~* .co2,
.room #humidity1:checked ~* .humidity{
    opacity: 1;
}
.room #temperature2:checked ~* .temperature,
.room #soundLevel2:checked ~* .soundLevel,
.room #ambientLight2:checked ~* .ambientLight,
.room #co22:checked ~* .co2,
.room #humidity2:checked ~* .humidity{
    opacity: 1;
}
.room #temperature3:checked ~* .temperature,
.room #soundLevel3:checked ~* .soundLevel,
.room #ambientLight3:checked ~* .ambientLight,
.room #co23:checked ~* .co2,
.room #humidity3:checked ~* .humidity{
    opacity: 1;
}
.room #temperature4:checked ~* .temperature,
.room #soundLevel4:checked ~* .soundLevel,
.room #ambientLight4:checked ~* .ambientLight,
.room #co24:checked ~* .co2,
.room #humidity4:checked ~* .humidity{
    opacity: 1;
}
.room #temperature5:checked ~* .temperature,
.room #soundLevel5:checked ~* .soundLevel,
.room #ambientLight5:checked ~* .ambientLight,
.room #co25:checked ~* .co2,
.room #humidity5:checked ~* .humidity{
    opacity: 1;
}
.room #temperature5:checked ~* .temperature,
.room #soundLevel5:checked ~* .soundLevel,
.room #ambientLight5:checked ~* .ambientLight,
.room #co25:checked ~* .co2,
.room #humidity5:checked ~* .humidity{
    opacity: 1;
}

.room #temperature6:checked ~* .temperature,
.room #soundLevel6:checked ~* .soundLevel,
.room #ambientLight6:checked ~* .ambientLight,
.room #co26:checked ~* .co2,
.room #humidity6:checked ~* .humidity{
    opacity: 1;
}

.room #temperature7:checked ~* .temperature,
.room #soundLevel7:checked ~* .soundLevel,
.room #ambientLight7:checked ~* .ambientLight,
.room #co27:checked ~* .co2,
.room #humidity7:checked ~* .humidity{
    opacity: 1;
}

.room #temperature8:checked ~* .temperature,
.room #soundLevel8:checked ~* .soundLevel,
.room #ambientLight8:checked ~* .ambientLight,
.room #co28:checked ~* .co2,
.room #humidity8:checked ~* .humidity{
    opacity: 1;
}

.room #temperature9:checked ~* .temperature,
.room #soundLevel9:checked ~* .soundLevel,
.room #ambientLight9:checked ~* .ambientLight,
.room #co29:checked ~* .co2,
.room #humidity9:checked ~* .humidity{
    opacity: 1;
}

.room #temperature10:checked ~* .temperature,
.room #soundLevel10:checked ~* .soundLevel,
.room #ambientLight10:checked ~* .ambientLight,
.room #co210:checked ~* .co2,
.room #humidity10:checked ~* .humidity{
    opacity: 1;
}

.room #temperature11:checked ~* .temperature,
.room #soundLevel11:checked ~* .soundLevel,
.room #ambientLight11:checked ~* .ambientLight,
.room #co211:checked ~* .co2,
.room #humidity11:checked ~* .humidity{
    opacity: 1;
}

.room #temperature12:checked ~* .temperature,
.room #soundLevel12:checked ~* .soundLevel,
.room #ambientLight12:checked ~* .ambientLight,
.room #co212:checked ~* .co2,
.room #humidity12:checked ~* .humidity{
    opacity: 1;
}